.header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgb(51, 49, 49);
  position: sticky;
  top: 0;
  width: 100%;
  min-width: fit-content;
  z-index: 100;
}

.header__logo {
  width: 6.5rem;
  object-fit: contain;
  margin: 1.2rem 1.4rem 0 1.4rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;

  border-radius: 1.5rem;
}

.header__searchInput {
  height: 1.4rem;
  padding: 0.625rem;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 0.4rem;
  height: 1.4rem !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;

  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: white;
}

.header__optionLineOne {
  font-size: 0.625rem;
}

.header__optionLineTwo {
  font-size: 0.875rem;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header__logo {
    grid-area: logo;
  }

  .header__search {
    grid-area: searchBar;
    padding-bottom: 0.8rem;
  }

  .header__nav {
    grid-area: navigation;
    text-align: center;
  }

  .header {
    width: 100vw;
    height: 6rem;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo navigation navigation navigation"
      ". searchBar searchBar .";
  }

  .header__option {
    grid-area: navOps;
    margin: 0;
    padding: 0;
  }

  .header__optionBasket {
    grid-area: navOpsBasket;
  }

  .header__nav {
    justify-items: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navOps navOps navOps navOpsBasket";
  }
}

/* Small devices (portrait tablets and large phones, 600px and up to 768px)*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .header__logo {
    grid-area: logo;
  }

  .header__search {
    grid-area: searchBar;
    padding-bottom: 0.8rem;
  }

  .header__nav {
    grid-area: navigation;
    text-align: center;
  }

  .header {
    max-width: 100vw;
    height: 6rem;
    padding: auto 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo navigation navigation navigation"
      ". searchBar searchBar .";
  }

  .header__option {
    grid-area: navOps;
    margin: 0;
    padding: 0;
  }

  .header__optionBasket {
    grid-area: navOpsBasket;
  }

  .header__nav {
    justify-items: end;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navOps navOps navOps navOpsBasket";
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
